{% extends "userindex.html" %}
{% block content %}
{% load static %}
<div class="hero-wrap" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
  <div class="overlay"></div>
  <div class="container">
      <div class="row no-gutters slider-text d-flex align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
              <div class="text">
                  <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>Blog</span></p>
                  <h1 class="mb-4 bread">Recent Blog</h1>
              </div>
          </div>
      </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
      </div>
    </div>
    <div class="row d-flex">
      <!-- Blog Entry 1 -->
      <div class="col-md-3 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'images/image_1.jpg' %}');" aria-label="Blog 1">
          </a>
          <div class="text mt-3 d-block">
            <h3 class="heading mt-3"><a href="blog-single.html">Even the all-powerful Pointing has no control about the blind texts</a></h3>
            <div class="meta mb-3">
              <div><a href="#">Dec 6, 2018</a></div>
              <div><a href="#">Admin</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Blog Entry 2 -->
      <div class="col-md-3 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'images/image_2.jpg' %}');" aria-label="Blog 2">
          </a>
          <div class="text mt-3">
            <h3 class="heading mt-3"><a href="blog-single.html">Even the all-powerful Pointing has no control about the blind texts</a></h3>
            <div class="meta mb-3">
              <div><a href="#">Dec 6, 2018</a></div>
              <div><a href="#">Admin</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Blog Entry 3 -->
      <div class="col-md-3 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'images/image_3.jpg' %}');" aria-label="Blog 3">
          </a>
          <div class="text mt-3">
            <h3 class="heading mt-3"><a href="blog-single.html">Even the all-powerful Pointing has no control about the blind texts</a></h3>
            <div class="meta mb-3">
              <div><a href="#">Dec 6, 2018</a></div>
              <div><a href="#">Admin</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Blog Entry 4 -->
      <div class="col-md-3 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'images/image_4.jpg' %}');" aria-label="Blog 4">
          </a>
          <div class="text mt-3">
            <h3 class="heading mt-3"><a href="blog-single.html">Even the all-powerful Pointing has no control about the blind texts</a></h3>
            <div class="meta mb-3">
              <div><a href="#">Dec 6, 2018</a></div>
              <div><a href="#">Admin</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="instagram">
  <div class="container-fluid">
    <div class="row no-gutters justify-content-center pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2><span>Instagram</span></h2>
      </div>
    </div>
    <div class="row no-gutters">
      <!-- Instagram Image 1 -->
      <div class="col-sm-12 col-md ftco-animate">
        <a href="{% static 'images/insta-1.jpg' %}" class="insta-img image-popup" style="background-image: url('{% static 'images/insta-1.jpg' %}');" aria-label="Instagram Image 1">
          <div class="icon d-flex justify-content-center">
            <span class="icon-instagram align-self-center"></span>
          </div>
        </a>
      </div>
      <!-- Instagram Image 2 -->
      <div class="col-sm-12 col-md ftco-animate">
        <a href="{% static 'images/insta-2.jpg' %}" class="insta-img image-popup" style="background-image: url('{% static 'images/insta-2.jpg' %}');" aria-label="Instagram Image 2">
          <div class="icon d-flex justify-content-center">
            <span class="icon-instagram align-self-center"></span>
          </div>
        </a>
      </div>
      <!-- Instagram Image 3 -->
      <div class="col-sm-12 col-md ftco-animate">
        <a href="{% static 'images/insta-3.jpg' %}" class="insta-img image-popup" style="background-image: url('{% static 'images/insta-3.jpg' %}');" aria-label="Instagram Image 3">
          <div class="icon d-flex justify-content-center">
            <span class="icon-instagram align-self-center"></span>
          </div>
        </a>
      </div>
      <!-- Instagram Image 4 -->
      <div class="col-sm-12 col-md ftco-animate">
        <a href="{% static 'images/insta-4.jpg' %}" class="insta-img image-popup" style="background-image: url('{% static 'images/insta-4.jpg' %}');" aria-label="Instagram Image 4">
          <div class="icon d-flex justify-content-center">
            <span class="icon-instagram align-self-center"></span>
          </div>
        </a>
      </div>
      <!-- Instagram Image 5 -->
      <div class="col-sm-12 col-md ftco-animate">
        <a href="{% static 'images/insta-5.jpg' %}" class="insta-img image-popup" style="background-image: url('{% static 'images/insta-5.jpg' %}');" aria-label="Instagram Image 5">
          <div class="icon d-flex justify-content-center">
            <span class="icon-instagram align-self-center"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
  {% endblock %}