<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="oldpassword">Old Password:</label>
        <input type="password" id="oldpassword" name="oldpassword" required>
        <br>
        <label for="newpassword">New Password:</label>
        <input type="password" id="newpassword" name="newpassword" required>
        <br>
        <label for="confirmnewpassword">Confirm New Password:</label>
        <input type="password" id="confirmnewpassword
