{% extends 'adminindex.html' %}

{% block content %}
<h2>Booked Users List</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Package</th>
            <th>Payment Method</th>
            <th>Total Amount</th>
           
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.full_name }}</td>
            <td>{{ booking.email }}</td>
            <td>{{ booking.phone }}</td>
            <td>{{ booking.package.name }}</td>
            <td>{{ booking.payment_status }}</td>
            <td>₹{{ booking.total_price }}</td>
            <td>
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
